# Node/Vite
node_modules/
dist/
.vite/
.cache/
.tmp/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env / credenciais locais
.env
.env.*.local
*.local

# Editor
.vscode/
.idea/

# Test/coverage
coverage/

# SO (Windows/macOS)
Thumbs.db
Desktop.ini
.DS_Store

# Build output (caso use)
build/
